# try to get MySQL 5.6 instead of 5.5
dist: trusty
# Use docker-based build environment (instead of openvz)
sudo: false

language: java

addons:
  apt:
    packages:
      - oracle-java8-installer

jdk: oraclejdk8

services:
  - mysql
  - postgresql

cache:
  directories:
  - '$HOME/.m2/repository'

before_script:
  - mysql -e 'create database travis;'
  - psql -c 'create database travis;' -U postgres

install: /bin/true
